@{
    ViewData["Title"] = "صفحه اصلی";
}

<div class="text-center">
    <h1 class="display-4">مدیریت هوشمند مجتمع ندیم D:</h1>
    
    <button class="bg-dark text-light" type="button" onclick="location.href='@Url.Action("GetAll", "Complex")'">مجتمع ها </button>
    <button class="bg-dark text-light" type="button" onclick="location.href='@Url.Action("Add", "Complex")'">افزودن مجتمع</button>
</div>
